# Mods
mods/*.jar
mods/*.jar.disabled
!mods/dimensionfrontier-0.1.0.jar

# Play folder
saves/
screenshots/
logs/
crash-reports/
ftbbackups3/
journeymap/
local/
downloads/
.cache/
.github/
Claude outputs/

# Mods generated
config/jei/world
/data/
bivrik/
.probe/
.mixin.out/
kubejsstudio/
dynamic-resource-pack-cache/
kubejs/exported/
visual_keybinder/
particular_cache/

# Difference between environments
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
patchouli_data.json
command_history.txt
servers.dat
servers.dat_old
shaderpacks/
resourcepacks/*.zip
.vscode/
.curseclient

# Generated
/*.zip
/*.mrpack
.jarstash/
.jarstash-new/